@model IEnumerable<Post>

    <h3>Recent Posts</h3>
    @if (Model.Any())
{
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a href="/Post/View/@post.Id">@post.Title</a>
                <small>Posted by @post.Author.Username on @post.PostDate.ToShortDateString()</small>
            </li>
        }
    </ul>
}
else
{
    <p>No recent posts avaiilable</p>
}